{% extends 'learning_logs/base.html' %}
{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<p>
  <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
</p>
<ul>
{% for entry in entries %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small>
          <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a>
        </small>
      </h3>
    </div>
    <div class="panel-body">
      {{ entry.text|linebreaks }}
    </div>
  </div>
{% empty %}
  There are no entries for this topic yet.
{% endfor %}
</ul>


{% endblock content %}
